<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Frank+Ruhl
            +Libre:wght@500&family=Great+Vibes&family=Mali&family=Montserrat&family=Pacifico&family=Poppins&
            family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Frank+Ruhl+Libre:wght@500&family=Great+Vibes&
            family=Mali&family=Montserrat&family=Pacifico&family=Poppins&family=Ubuntu:wght@300;400&family=Urbanist&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="../static/uploads/aboutUs.css">
        <title>About Us</title>
    </head>
    <body>
        <nav>
            <a href="/"><h1 class="logo">Detectron</h1></a>
            <div class="nav-container">
                <a href="/"><p>Home</p></a>
                <a href="/services"><p>Services</p></a>
                <a href="/get_ocr"><p>Get OCR</p></a>
                <a href="/about"><p style="color: lightblue;">About Us</p></a>
            </div>
        </nav>
    </body>
</html>