<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Frank+Ruhl    +Libre:wght@500&family=Great+Vibes&family=Mali&family=Montserrat&family=Pacifico&family=Poppins&    family=Ubuntu:wght@300;400&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Frank+Ruhl+Libre:wght@500&family=Great+Vibes& family=Mali&family=Montserrat&family=Pacifico&family=Poppins&family=Ubuntu:wght@300;400&family=Urbanist&display=swap"    rel="stylesheet"> 
    <link rel="stylesheet" href="../static/uploads/style.css">
    <title>Database Visualizer</title>
</head>
<body>
    <nav>
        <a href="/"><h1 class="logo">Detectron</h1></a>
        <div class="nav-container">
            <a href="/"><p style="color: lightblue;">Home</p></a>
            <a href="/services"><p>Services</p></a>
            <a href="/get_ocr"><p>Get OCR</p></a>
            <a href="/about"><p>About Us</p></a>
        </div>
    </nav>
    <div class="section">
        <div class="heading">
            <h1>Locations</h1> 
        </div>
        <div class="cards">
            <div class="card">
                <div class="hide"><p>Pune</p></div>
                <img src="https://media.istockphoto.com/photos/lake-view-of-metro-city-in-india-picture-id998655552?k=20&m=998655552&s=612x612&w=0&h=oQmDAqdDtZyVh1EqDSFh_pxMYRXrsvfVNQnEyZCDR1Y=" alt="">
            </div>
            <div class="card">
                <div class="hide"><p>Mumbai</p></div>
                <img src="https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg" alt="">
            </div>
            <div class="card">
                <div class="hide"><p>Solapur</p></div>
                <img src="https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg" alt="">
            </div>
            <div class="card">
                <div class="hide"><p>Aurangabad</p></div>
                <img src="https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg" alt="">
            </div>
            <div class="card">
                <div class="hide"><p>Bangalore</p></div>
                <img src="https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg" alt="">
            </div>
            <div class="card">
                <div class="hide"><p>Hyderabad</p></div>
                <img src="https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg" alt="">
            </div>
            <div class="card">
                <div class="hide"><p>Nashik</p></div>
                <img src="https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg" alt="">
            </div>
            <div class="card">
                <div class="hide"><p>Kolkata </p></div>
                <img src="https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg" alt="">
            </div>
            <div class="card">
                <div class="hide"><p>Kolkata </p></div>
                <img src="https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg" alt="">
            </div>
            <div class="card">
                <div class="hide"><p>Kolkata </p></div>
                <img src="https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg" alt="">
            </div>
            <div class="card">
                <div class="hide"><p>Kolkata </p></div>
                <img src="https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg" alt="">
            </div>
            <div class="card">
                <div class="hide"><p>Kolkata </p></div>
                <img src="https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg" alt="">
            </div>
            <div class="card">
                <div class="hide"><p>Kolkata </p></div>
                <img src="https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg" alt="">
            </div>
        </div>
    </div>
</body>
</html>